// COLOR PALETTE
$neutral-950: #000000;
$neutral-300: #d8d8d8;
$neutral-0: #ffffff;
$aqua-100: #b1d5e2;
$aqua-50: #def4fc;
$navy-950: #070724;
$teal-400: #1ec1a2;
$purple-600: #6d2ed5;
$bronze-700: #b87d43;
$red-500: #d83a34;
$orange-600: #d14c32;
$amber-400: #eda249;
$blue-600: #2d68f0;
$sky-400: #419ebb;

// SEMANTIC VALUES
$clr-body-bg: $navy-950;
$clr-body-text-primary: $neutral-0;
$clr-hover: $neutral-300;
$clr-mercury: $sky-400;
$clr-venus: $amber-400;
$clr-earth: $purple-600;
$clr-mars: $orange-600;
$clr-jupiter: $red-500;
$clr-saturn: $bronze-700;
$clr-uranus: $teal-400;
$clr-neptune: $blue-600;
